<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZjBHCiSzzbKTU55XjOY7tAmDIY7Gh55w</string>
	<key>GCM_SENDER_ID</key>
	<string>158976694691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappPrathamesh</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-backend-2a5bb</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-backend-2a5bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158976694691:ios:b98af1c17e7e1fd1eca216</string>
</dict>
</plist>